In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import folium
import branca
import branca.colormap as cm
#Here, I import the data and obtain the needed columns from the dataframe
listings = pd.read_csv('data/listings.csv')
listings.head()
listings = listings[['latitude','longitude','price','minimum_nights']]
listings.head()

   latitude  longitude  price  minimum_nights
0  46.20140    6.15507     73              14
1  46.19704    6.16076     59               1
2  46.27944    6.16724     65               7
3  46.21428    6.14610    130               7
4  46.20682    6.15526    133               6

In [3]:
def map_filter(df, max_price, total_nights):
    df=df[df['price']<=max_price]
    colormap = cm.LinearColormap(colors=['blue','green','red'],vmin=0,vmax=np.max(df.price))
    map = folium.Map(location=[df.latitude.mean(), df.longitude.mean()], zoom_start=14,control_scale=True)
    lat = list(df.latitude)
    lon = list(df.longitude)
    pow = list(df.price)
    for loc, p in zip(zip(lat, lon), pow):
        folium.Circle(
        location=loc,
        radius=10,
        fill=True,
        color=colormap(p),
            popup = "Price per night: CHF {0}. Total price: CHF {1}".format(p, total_nights*p),
        fill_opacity=0.7
    ).add_to(map)
    map.add_child(colormap)
    folium.TileLayer('cartodbpositron').add_to(map)
    return map
my_cart = map_filter(listings, 400,5)